main{
    
    #cards{
        padding: 8em 0;
        display: flex;
        justify-content: space-around;

        article{
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 2.5em;

            img{
                width: 30%;
                height: auto;
                border: 2px gray solid;
                padding: 3em;
            }

            h3{
                font-size: 1.5em;
                color:#394b5e;
            }

            p{
                line-height: 35px;
                font-size: 1.2em;
                width: 65%;
            }
        }
    }

    #about{
        padding: 10em 4em;
        background-color: #f7f7f7;
        
        div{
            display: flex;

            img{
                width: 140%;
                height: auto;
                object-fit: cover;
            }

            div{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 5.1em;
                padding-left: 2em;
                gap: 2em;

                h4{
                    color: #d8b68f;
                    font-size: 1.7em;
                }

                h3{
                    font-size: 4.5em;
                    color:#394b5e;

                    span{
                        display: block;
                    }
                }

                p{
                    font-size: 1.3em;
                    line-height: 45px;
                    width: 90%;
                }

                a{
                    color:#394b5e;
                    border: #d8b68f solid 2px;
                    padding: 1em 2em;
                    text-align: center;
                    font-size: 1.2em;
                    font-weight: bold;
                    transition: ease-in-out all 0.2s;
                    width: 15%;
                }

                a:hover{
                    color: #d8b68f;
                }
            }
        }
    }

    #project{
        display: flex;
        flex-direction: column;
        align-items: center;

        h4{
            color: #d8b68f;
            font-size: 1.7em;
        }

        h3{
            font-size: 4.5em;
            color:#394b5e;
            padding-top: 0.5em;
            padding-bottom: 1em;
        }

        ul{
            padding: 3em 0;
            display: flex;
            gap: 3em;

            a{
                color: #394b5e;
                transition: ease-in-out all 0.2s;
                font-weight: bold;
                font-size: 1.2em;
            }

            a:hover{
                color: #d8b68f;
            }
        }

        #projectGrid{
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 40em 40em 5em;
            gap: 3em;
            justify-content: center;
            padding: 3em 0;

            #projectCard1{
                background-image: url(../images/p1.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                grid-column: 1/2;
                grid-row: 1/2;
                border-radius: 15px;
                box-shadow: #394b5e 1px 1px 5px;
                transition: all ease-in-out 0.5s;

                div{
                    position: absolute;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 2.5em;
                    padding-left: 2em;
                    top: 0;
                    width: 100%;
                    height: 25%;

                    h5{
                        font-size: 1.4em;
                        color: #394b5e;
                        padding-bottom: 0.5em;
                        letter-spacing: 1px;
                    }

                    p{
                        color: #87898f;
                        font-size: 1.2em;
                    }
                }
            }

            #projectCard1:hover{
                cursor: pointer;
                transform: scale(1.025);
                box-shadow: #394b5e 2px 2px 15px;
            }

            #projectCard2{
                background-image: url(../images/p2.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                grid-column: 2/4;
                grid-row: 1/2;
                border-radius: 15px;
                box-shadow: #394b5e 1px 1px 5px;
                transition: all ease-in-out 0.5s;

                div{
                    position: absolute;
                    background-color: white;
                    padding: 2.5em;
                    padding-left: 2em;
                    right: 0;
                    width: 50%;

                    h5{
                        font-size: 1.4em;
                        color: #394b5e;
                        padding-bottom: 0.5em;
                        letter-spacing: 1px;
                    }

                    p{
                        color: #87898f;
                        font-size: 1.2em;
                    }
                }
            }

            #projectCard2:hover{
                cursor: pointer;
                transform: scale(1.025);
                box-shadow: #394b5e 2px 2px 15px;
            }

            #projectCard3{
                background-image: url(../images/p3.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative; 
                grid-column: 1/3;
                grid-row: 2/4;
                border-radius: 15px;
                box-shadow: #394b5e 1px 1px 5px;
                transition: all ease-in-out 0.5s;

                div{
                    position: absolute;
                    background-color: white;
                    padding: 2.5em;
                    padding-left: 2em;
                    right: 0;
                    width: 50%;

                    h5{
                        font-size: 1.4em;
                        color: #394b5e;
                        padding-bottom: 0.5em;
                        letter-spacing: 1px;
                    }

                    p{
                        color: #87898f;
                        font-size: 1.2em;
                    }
                }
            }
            
            #projectCard3:hover{
                cursor: pointer;
                transform: scale(1.025);
                box-shadow: #394b5e 2px 2px 15px;
            }

            #projectCard4{
                background-image: url(../images/p4.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                grid-column: 3/4;
                grid-row: 2/3;
                border-radius: 15px;
                box-shadow: #394b5e 1px 1px 5px;
                transition: all ease-in-out 0.5s;

                div{
                    position: absolute;
                    background-color: white;
                    padding: 2.5em;
                    padding-left: 2em;
                    top: 0;
                    width: 100%;

                    h5{
                        font-size: 1.4em;
                        color: #394b5e;
                        padding-bottom: 0.5em;
                        letter-spacing: 1px;
                    }

                    p{
                        color: #87898f;
                        font-size: 1.2em;
                    }
                }
            }

            #projectCard4:hover{
                cursor: pointer;
                transform: scale(1.025);
                box-shadow: #394b5e 2px 2px 15px;
            }
        }
    }

    #video{
        width: 100%;
        background-image: url(../images/ct1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8em 0;

        p{
            font-weight: bold;
            font-size: 3.5em;
            padding : 7em;
            color: white;
        }
    }

    #clients{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em 0;

        h4{
            color: #d8b68f;
            font-size: 1.7em;
        }

        h3{
            font-size: 4.5em;
            color:#394b5e;
            padding-top: 0.5em;
            padding-bottom: 1em;
        }

        div{
            display: flex;
            justify-content: space-around;

            article{
                display: flex;
                align-items: center;
                width: 35%;
                gap: 2em;

                img{
                    height: 6em;
                    width: 6em;
                    object-fit: cover;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                    p{
                        line-height: 25px;
                        color: #87898f;
                        font-size: 1.2em;
                    }

                    h5{
                        color: #394b5e;
                        font-size: 1.4em;
                    }
                }
            }
        }
    }

    #partner{
        padding: 10em 0;
        display: flex;
        justify-content: space-around;

        img{
            width: 10%;
            height: auto;
            filter: grayscale(100%);
        }
    }
}