@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  text-decoration: none;
  list-style: none;
}

header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 5em;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav img {
  width: 150%;
  height: auto;
}
header nav #navBar {
  padding-right: 2em;
}
header nav #navBar ul {
  display: flex;
  gap: 5em;
}
header nav #navBar ul li a {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  transition: all ease-in-out 0.2s;
}
header nav #navBar ul li a:hover {
  color: #ca9e6c;
}
header section {
  padding-top: 10em;
  color: white;
}
header section h1 {
  font-size: 10em;
  margin-bottom: 0.2em;
}
header section .btn {
  color: white;
  padding: 1em 2em;
  border: white 2px solid;
  font-size: 1.2em;
  transition: ease-in-out all 0.2s;
}
header section .btn:hover {
  color: #ca9e6c;
  border: #ca9e6c 2px solid;
}
header section .social {
  display: flex;
  gap: 1em;
  padding-top: 4em;
  padding-bottom: 2em;
  font-size: 1.5em;
}
header section .social i {
  transition: ease-in-out all 0.2s;
}
header section .social i:hover {
  color: #ca9e6c;
  cursor: pointer;
}

main #cards {
  padding: 8em 0;
  display: flex;
  justify-content: space-around;
}
main #cards article {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5em;
}
main #cards article img {
  width: 30%;
  height: auto;
  border: 2px gray solid;
  padding: 3em;
}
main #cards article h3 {
  font-size: 1.5em;
  color: #394b5e;
}
main #cards article p {
  line-height: 35px;
  font-size: 1.2em;
  width: 65%;
}
main #about {
  padding: 10em 4em;
  background-color: #f7f7f7;
}
main #about div {
  display: flex;
}
main #about div img {
  width: 140%;
  height: auto;
  object-fit: cover;
}
main #about div div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5.1em;
  padding-left: 2em;
  gap: 2em;
}
main #about div div h4 {
  color: #d8b68f;
  font-size: 1.7em;
}
main #about div div h3 {
  font-size: 4.5em;
  color: #394b5e;
}
main #about div div h3 span {
  display: block;
}
main #about div div p {
  font-size: 1.3em;
  line-height: 45px;
  width: 90%;
}
main #about div div a {
  color: #394b5e;
  border: #d8b68f solid 2px;
  padding: 1em 2em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  transition: ease-in-out all 0.2s;
  width: 15%;
}
main #about div div a:hover {
  color: #d8b68f;
}
main #project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #project h4 {
  color: #d8b68f;
  font-size: 1.7em;
}
main #project h3 {
  font-size: 4.5em;
  color: #394b5e;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
main #project ul {
  padding: 3em 0;
  display: flex;
  gap: 3em;
}
main #project ul a {
  color: #394b5e;
  transition: ease-in-out all 0.2s;
  font-weight: bold;
  font-size: 1.2em;
}
main #project ul a:hover {
  color: #d8b68f;
}
main #project #projectGrid {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40em 40em 5em;
  gap: 3em;
  justify-content: center;
  padding: 3em 0;
}
main #project #projectGrid #projectCard1 {
  background-image: url(../images/p1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 15px;
  box-shadow: #394b5e 1px 1px 5px;
  transition: all ease-in-out 0.5s;
}
main #project #projectGrid #projectCard1 div {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5em;
  padding-left: 2em;
  top: 0;
  width: 100%;
  height: 25%;
}
main #project #projectGrid #projectCard1 div h5 {
  font-size: 1.4em;
  color: #394b5e;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}
main #project #projectGrid #projectCard1 div p {
  color: #87898f;
  font-size: 1.2em;
}
main #project #projectGrid #projectCard1:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: #394b5e 2px 2px 15px;
}
main #project #projectGrid #projectCard2 {
  background-image: url(../images/p2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 2/4;
  grid-row: 1/2;
  border-radius: 15px;
  box-shadow: #394b5e 1px 1px 5px;
  transition: all ease-in-out 0.5s;
}
main #project #projectGrid #projectCard2 div {
  position: absolute;
  background-color: white;
  padding: 2.5em;
  padding-left: 2em;
  right: 0;
  width: 50%;
}
main #project #projectGrid #projectCard2 div h5 {
  font-size: 1.4em;
  color: #394b5e;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}
main #project #projectGrid #projectCard2 div p {
  color: #87898f;
  font-size: 1.2em;
}
main #project #projectGrid #projectCard2:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: #394b5e 2px 2px 15px;
}
main #project #projectGrid #projectCard3 {
  background-image: url(../images/p3.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 1/3;
  grid-row: 2/4;
  border-radius: 15px;
  box-shadow: #394b5e 1px 1px 5px;
  transition: all ease-in-out 0.5s;
}
main #project #projectGrid #projectCard3 div {
  position: absolute;
  background-color: white;
  padding: 2.5em;
  padding-left: 2em;
  right: 0;
  width: 50%;
}
main #project #projectGrid #projectCard3 div h5 {
  font-size: 1.4em;
  color: #394b5e;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}
main #project #projectGrid #projectCard3 div p {
  color: #87898f;
  font-size: 1.2em;
}
main #project #projectGrid #projectCard3:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: #394b5e 2px 2px 15px;
}
main #project #projectGrid #projectCard4 {
  background-image: url(../images/p4.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
  border-radius: 15px;
  box-shadow: #394b5e 1px 1px 5px;
  transition: all ease-in-out 0.5s;
}
main #project #projectGrid #projectCard4 div {
  position: absolute;
  background-color: white;
  padding: 2.5em;
  padding-left: 2em;
  top: 0;
  width: 100%;
}
main #project #projectGrid #projectCard4 div h5 {
  font-size: 1.4em;
  color: #394b5e;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}
main #project #projectGrid #projectCard4 div p {
  color: #87898f;
  font-size: 1.2em;
}
main #project #projectGrid #projectCard4:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: #394b5e 2px 2px 15px;
}
main #video {
  width: 100%;
  background-image: url(../images/ct1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8em 0;
}
main #video p {
  font-weight: bold;
  font-size: 3.5em;
  padding: 7em;
  color: white;
}

/*# sourceMappingURL=style.css.map */
