@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  text-decoration: none;
  list-style: none;
}

header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 5em;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  width: 150%;
  height: auto;
}
header nav .navBar {
  padding-right: 2em;
}
header nav .navBar ul {
  display: flex;
  gap: 5em;
}
header nav .navBar ul li a {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  transition: all ease-in-out 0.2s;
}
header nav .navBar ul li a:hover {
  color: #ca9e6c;
}
header nav #menuBurger {
  width: 2.5em;
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 1em;
  border: white 2px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}
header nav #menuBurger .bar {
  border-radius: 5px;
  height: 4px;
  width: 35px;
  background-color: white;
  transition: ease-in-out all 0.2s;
}
header nav #menuBurger:hover {
  border: #ca9e6c 2px solid;
}
header nav #menuBurger:hover .bar {
  background-color: #ca9e6c;
}
header nav #close {
  position: fixed;
  top: 50px;
  right: 150px;
  display: none;
  z-index: 99999;
  color: white;
  font-size: 3em;
  transition: all ease-in-out 0.2s;
}
header nav #close:hover {
  cursor: pointer;
  color: #ca9e6c;
}
header section {
  padding-top: 10em;
  color: white;
}
header section h1 {
  font-size: 10em;
  margin-bottom: 0.2em;
}
header section .btn {
  color: white;
  padding: 1em 2em;
  border: white 2px solid;
  font-size: 1.2em;
  transition: ease-in-out all 0.2s;
}
header section .btn:hover {
  color: #ca9e6c;
  border: #ca9e6c 2px solid;
}
header section .social {
  display: flex;
  gap: 1em;
  padding-top: 4em;
  padding-bottom: 2em;
  font-size: 1.5em;
}
header section .social i {
  transition: ease-in-out all 0.2s;
}
header section .social i:hover {
  color: #ca9e6c;
  cursor: pointer;
}

main #cards {
  padding: 8em 0;
  display: flex;
  justify-content: space-around;
}
main #cards article {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5em;
}
main #cards article img {
  width: 30%;
  height: auto;
  border: 2px gray solid;
  padding: 3em;
}
main #cards article h3 {
  font-size: 1.5em;
  color: #394b5e;
}
main #cards article p {
  line-height: 35px;
  font-size: 1.2em;
  width: 65%;
}
main #about {
  padding: 10em 4em;
  background-color: #f7f7f7;
}
main #about div {
  display: flex;
}
main #about div img {
  width: 140%;
  height: auto;
  object-fit: cover;
}
main #about div div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5.1em;
  padding-left: 2em;
  gap: 2em;
}
main #about div div h4 {
  color: #d8b68f;
  font-size: 1.7em;
}
main #about div div h3 {
  font-size: 4.5em;
  color: #394b5e;
}
main #about div div h3 span {
  display: block;
}
main #about div div p {
  font-size: 1.3em;
  line-height: 45px;
  width: 90%;
}
main #about div div a {
  color: #394b5e;
  border: #d8b68f solid 2px;
  padding: 1em 2em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  transition: ease-in-out all 0.2s;
  width: 15%;
}
main #about div div a:hover {
  color: #d8b68f;
}
main #project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #project h4 {
  color: #d8b68f;
  font-size: 1.7em;
}
main #project h3 {
  font-size: 4.5em;
  color: #394b5e;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
main #project ul {
  padding: 3em 0;
  display: flex;
  gap: 3em;
}
main #project ul a {
  color: #394b5e;
  transition: ease-in-out all 0.2s;
  font-weight: bold;
  font-size: 1.2em;
}
main #project ul a:hover {
  color: #d8b68f;
}
main #project #projectGrid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40em 40em 5em;
  gap: 3em;
  justify-content: center;
  padding: 3em 0;
}
main #project #projectGrid #projectCard1 {
  background-image: url(../images/p1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 15px;
  box-shadow: #394b5e 1px 1px 5px;
  transition: all ease-in-out 0.5s;
}
main #project #projectGrid #projectCard1 div {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5em;
  padding-left: 2em;
  top: 0;
  width: 100%;
  height: 25%;
}
main #project #projectGrid #projectCard1 div h5 {
  font-size: 1.4em;
  color: #394b5e;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}
main #project #projectGrid #projectCard1 div p {
  color: #87898f;
  font-size: 1.2em;
}
main #project #projectGrid #projectCard1:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: #394b5e 2px 2px 15px;
}
main #project #projectGrid #projectCard2 {
  background-image: url(../images/p2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 2/4;
  grid-row: 1/2;
  border-radius: 15px;
  box-shadow: #394b5e 1px 1px 5px;
  transition: all ease-in-out 0.5s;
}
main #project #projectGrid #projectCard2 div {
  position: absolute;
  background-color: white;
  padding: 2.5em;
  padding-left: 2em;
  right: 0;
  width: 50%;
}
main #project #projectGrid #projectCard2 div h5 {
  font-size: 1.4em;
  color: #394b5e;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}
main #project #projectGrid #projectCard2 div p {
  color: #87898f;
  font-size: 1.2em;
}
main #project #projectGrid #projectCard2:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: #394b5e 2px 2px 15px;
}
main #project #projectGrid #projectCard3 {
  background-image: url(../images/p3.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 1/3;
  grid-row: 2/4;
  border-radius: 15px;
  box-shadow: #394b5e 1px 1px 5px;
  transition: all ease-in-out 0.5s;
}
main #project #projectGrid #projectCard3 div {
  position: absolute;
  background-color: white;
  padding: 2.5em;
  padding-left: 2em;
  right: 0;
  width: 50%;
}
main #project #projectGrid #projectCard3 div h5 {
  font-size: 1.4em;
  color: #394b5e;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}
main #project #projectGrid #projectCard3 div p {
  color: #87898f;
  font-size: 1.2em;
}
main #project #projectGrid #projectCard3:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: #394b5e 2px 2px 15px;
}
main #project #projectGrid #projectCard4 {
  background-image: url(../images/p4.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
  border-radius: 15px;
  box-shadow: #394b5e 1px 1px 5px;
  transition: all ease-in-out 0.5s;
}
main #project #projectGrid #projectCard4 div {
  position: absolute;
  background-color: white;
  padding: 2.5em;
  padding-left: 2em;
  top: 0;
  width: 100%;
}
main #project #projectGrid #projectCard4 div h5 {
  font-size: 1.4em;
  color: #394b5e;
  padding-bottom: 0.5em;
  letter-spacing: 1px;
}
main #project #projectGrid #projectCard4 div p {
  color: #87898f;
  font-size: 1.2em;
}
main #project #projectGrid #projectCard4:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: #394b5e 2px 2px 15px;
}
main #video {
  width: 100%;
  background-image: url(../images/ct1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8em 0;
}
main #video p {
  font-weight: bold;
  font-size: 3.5em;
  padding: 7em;
  color: white;
}
main #clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
}
main #clients h4 {
  color: #d8b68f;
  font-size: 1.7em;
}
main #clients h3 {
  font-size: 4.5em;
  color: #394b5e;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
main #clients div {
  display: flex;
  justify-content: space-around;
}
main #clients div article {
  display: flex;
  align-items: center;
  width: 35%;
  gap: 2em;
}
main #clients div article img {
  height: 6em;
  width: 6em;
  object-fit: cover;
}
main #clients div article div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main #clients div article div p {
  line-height: 25px;
  color: #87898f;
  font-size: 1.2em;
}
main #clients div article div h5 {
  color: #394b5e;
  font-size: 1.4em;
}
main #partner {
  padding: 10em 0;
  display: flex;
  justify-content: space-around;
}
main #partner img {
  width: 10%;
  height: auto;
  filter: grayscale(100%) opacity(50%);
}

footer {
  background-color: #0e1424;
  padding: 5em 4em;
}
footer section #footerMenu {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
footer section #footerMenu .footerCards {
  width: 15%;
}
footer section #footerMenu .footerCards h6 {
  color: white;
  font-size: 1.3em;
  padding-bottom: 1em;
}
footer section #footerMenu .footerCards ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
footer section #footerMenu .footerCards ul li {
  color: gray;
  font-size: 1.2em;
}
footer section #footerMenu #newsletter h6 {
  color: white;
  font-size: 1.3em;
  padding-bottom: 1em;
}
footer section #footerMenu #newsletter p {
  color: gray;
  padding-bottom: 1em;
  font-size: 1.2em;
}
footer section #footerMenu #newsletter #form {
  display: flex;
}
footer section #footerMenu #newsletter #form input {
  padding: 1em 2em;
  background-color: #334f6c;
  border: 0;
}
footer section #footerMenu #newsletter #form a {
  background-color: white;
  color: #334f6c;
  padding: 0.65em;
  font-weight: 600;
}
footer #copyright {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #copyright p {
  color: white;
  font-size: 1.3em;
}
footer #copyright p span {
  color: orange;
  cursor: pointer;
}
footer #copyright div {
  display: flex;
  gap: 5px;
}
footer #copyright div .fab, footer #copyright div .fas {
  color: white;
  padding: 1em;
  font-size: 1.3em;
  background-color: #334f6c;
}

@media screen and (max-width: 1250px) {
  header {
    padding: 0;
  }
  header nav {
    background-color: #263a4e;
    padding: 3em;
  }
  header nav .navBar {
    display: none;
    position: fixed;
    top: 0;
    left: 0px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    animation: menu 1s;
  }
  header nav .navBar ul {
    flex-direction: column;
    gap: 2em;
    width: 100%;
  }
  header nav .navBar ul li {
    transition: all ease-in-out 0.2s;
    padding: 1.5em 0;
    cursor: pointer;
  }
  header nav .navBar ul li a {
    margin-left: 5em;
    transition: all ease-in-out 0.2s;
  }
  header nav .navBar ul li:hover {
    background-color: #ca9e6c;
  }
  header nav .navBar ul li:hover a {
    color: #263a4e;
  }
  @keyframes menu {
    from {
      left: -200%;
    }
    to {
      right: 100%;
    }
  }
  header nav #menuBurger {
    display: block;
  }
  header nav #menuBurger {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
